<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ColoniaCreateDlg" widgetVar="ColoniaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateColoniaTitle}" closeOnEscape="true">

            <h:form id="ColoniaCreateForm">

                <h:panelGroup id="display" rendered="#{coloniaController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateColoniaLabel_estado}" for="estado" />
                        <p:inputTextarea rows="4" cols="30" id="estado" value="#{coloniaController.selected.estado}" title="#{myBundle.CreateColoniaTitle_estado}" required="true" requiredMessage="#{myBundle.CreateColoniaRequiredMessage_estado}"/>

                        <p:outputLabel value="#{myBundle.CreateColoniaLabel_municipio}" for="municipio" />
                        <p:inputTextarea rows="4" cols="30" id="municipio" value="#{coloniaController.selected.municipio}" title="#{myBundle.CreateColoniaTitle_municipio}" required="true" requiredMessage="#{myBundle.CreateColoniaRequiredMessage_municipio}"/>

                        <p:outputLabel value="#{myBundle.CreateColoniaLabel_colonia}" for="colonia" />
                        <p:inputTextarea rows="4" cols="30" id="colonia" value="#{coloniaController.selected.colonia}" title="#{myBundle.CreateColoniaTitle_colonia}" required="true" requiredMessage="#{myBundle.CreateColoniaRequiredMessage_colonia}"/>

                        <p:outputLabel value="#{myBundle.CreateColoniaLabel_latitud}" for="latitud" />
                        <p:inputText id="latitud" value="#{coloniaController.selected.latitud}" title="#{myBundle.CreateColoniaTitle_latitud}" required="true" requiredMessage="#{myBundle.CreateColoniaRequiredMessage_latitud}"/>

                        <p:outputLabel value="#{myBundle.CreateColoniaLabel_longitud}" for="longitud" />
                        <p:inputText id="longitud" value="#{coloniaController.selected.longitud}" title="#{myBundle.CreateColoniaTitle_longitud}" required="true" requiredMessage="#{myBundle.CreateColoniaRequiredMessage_longitud}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{coloniaController.saveNew}" value="#{myBundle.Save}" update="display,:ColoniaListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('ColoniaCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('ColoniaCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
