<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="ColoniaEditDlg" widgetVar="ColoniaEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditColoniaTitle}" closeOnEscape="true">

            <h:form id="ColoniaEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{coloniaController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditColoniaLabel_id}" for="id" />
                        <h:outputText id="id" value="#{coloniaController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditColoniaLabel_estado}" for="estado" />
                        <p:inputTextarea rows="4" cols="30" id="estado" value="#{coloniaController.selected.estado}" title="#{myBundle.EditColoniaTitle_estado}" required="true" requiredMessage="#{myBundle.EditColoniaRequiredMessage_estado}"/>

                        <p:outputLabel value="#{myBundle.EditColoniaLabel_municipio}" for="municipio" />
                        <p:inputTextarea rows="4" cols="30" id="municipio" value="#{coloniaController.selected.municipio}" title="#{myBundle.EditColoniaTitle_municipio}" required="true" requiredMessage="#{myBundle.EditColoniaRequiredMessage_municipio}"/>

                        <p:outputLabel value="#{myBundle.EditColoniaLabel_colonia}" for="colonia" />
                        <p:inputTextarea rows="4" cols="30" id="colonia" value="#{coloniaController.selected.colonia}" title="#{myBundle.EditColoniaTitle_colonia}" required="true" requiredMessage="#{myBundle.EditColoniaRequiredMessage_colonia}"/>

                        <p:outputLabel value="#{myBundle.EditColoniaLabel_latitud}" for="latitud" />
                        <p:inputText id="latitud" value="#{coloniaController.selected.latitud}" title="#{myBundle.EditColoniaTitle_latitud}" required="true" requiredMessage="#{myBundle.EditColoniaRequiredMessage_latitud}"/>

                        <p:outputLabel value="#{myBundle.EditColoniaLabel_longitud}" for="longitud" />
                        <p:inputText id="longitud" value="#{coloniaController.selected.longitud}" title="#{myBundle.EditColoniaTitle_longitud}" required="true" requiredMessage="#{myBundle.EditColoniaRequiredMessage_longitud}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{coloniaController.save}" value="#{myBundle.Save}" update="display,:ColoniaListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('ColoniaEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('ColoniaEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
