<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="ColoniaListForm">

        <p:panel header="#{myBundle.ListColoniaTitle}">
            <p:contextMenu id="ColoniaDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('ColoniaListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('ColoniaListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('ColoniaListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('ColoniaListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.ColoniaMenuItem_direccionCollection}" icon="ui-icon-search"  action="#{coloniaController.navigateDireccionCollection}" disabled="#{empty coloniaController.selected.direccionCollection}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{coloniaController.items}"
                         var="item"
                         rowKey="#{item.id}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{coloniaController.selected}">

                <p:ajax event="rowSelect"   update=":ColoniaListForm:createButton :ColoniaListForm:viewButton :ColoniaListForm:editButton :ColoniaListForm:deleteButton :ColoniaListForm:ColoniaDataTableContextMenu"/>
                <p:ajax event="rowUnselect" update=":ColoniaListForm:createButton :ColoniaListForm:viewButton :ColoniaListForm:editButton :ColoniaListForm:deleteButton :ColoniaListForm:ColoniaDataTableContextMenu"/>
                <p:ajax event="contextMenu" update=":ColoniaListForm:createButton :ColoniaListForm:viewButton :ColoniaListForm:editButton :ColoniaListForm:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('ColoniaListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListColoniaTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.estado}" filterBy="#{item.estado}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListColoniaTitle_estado}"/>
                    </f:facet>
                    <h:outputText value="#{item.estado}"/>
                </p:column>


                <p:column sortBy="#{item.municipio}" filterBy="#{item.municipio}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListColoniaTitle_municipio}"/>
                    </f:facet>
                    <h:outputText value="#{item.municipio}"/>
                </p:column>


                <p:column sortBy="#{item.colonia}" filterBy="#{item.colonia}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListColoniaTitle_colonia}"/>
                    </f:facet>
                    <h:outputText value="#{item.colonia}"/>
                </p:column>


                <p:column sortBy="#{item.latitud}" filterBy="#{item.latitud}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListColoniaTitle_latitud}"/>
                    </f:facet>
                    <h:outputText value="#{item.latitud}"/>
                </p:column>


                <p:column sortBy="#{item.longitud}" filterBy="#{item.longitud}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListColoniaTitle_longitud}"/>
                    </f:facet>
                    <h:outputText value="#{item.longitud}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{coloniaController.prepareCreate}" update=":ColoniaCreateForm" oncomplete="PF('ColoniaCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":ColoniaViewForm" oncomplete="PF('ColoniaViewDialog').show()" disabled="#{empty coloniaController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":ColoniaEditForm" oncomplete="PF('ColoniaEditDialog').show()" disabled="#{empty coloniaController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{coloniaController.delete}" update=":growl,datalist" disabled="#{empty coloniaController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>