<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ColoniaViewDlg" widgetVar="ColoniaViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewColoniaTitle}" closeOnEscape="true">

            <h:form id="ColoniaViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{coloniaController.selected != null}">

                        <h:outputText value="#{myBundle.ViewColoniaLabel_id}"/>
                        <h:outputText value="#{coloniaController.selected.id}" title="#{myBundle.ViewColoniaTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewColoniaLabel_estado}"/>
                        <h:outputText value="#{coloniaController.selected.estado}" title="#{myBundle.ViewColoniaTitle_estado}"/>

                        <h:outputText value="#{myBundle.ViewColoniaLabel_municipio}"/>
                        <h:outputText value="#{coloniaController.selected.municipio}" title="#{myBundle.ViewColoniaTitle_municipio}"/>

                        <h:outputText value="#{myBundle.ViewColoniaLabel_colonia}"/>
                        <h:outputText value="#{coloniaController.selected.colonia}" title="#{myBundle.ViewColoniaTitle_colonia}"/>

                        <h:outputText value="#{myBundle.ViewColoniaLabel_latitud}"/>
                        <h:outputText value="#{coloniaController.selected.latitud}" title="#{myBundle.ViewColoniaTitle_latitud}"/>

                        <h:outputText value="#{myBundle.ViewColoniaLabel_longitud}"/>
                        <h:outputText value="#{coloniaController.selected.longitud}" title="#{myBundle.ViewColoniaTitle_longitud}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('ColoniaViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
