/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/05/2015, 04:27:43 PM
    Author     : emmanuel
*/
.fondo
{   
    background-image: url('img/fondo.jpg');    
}
.forma
{
    position: absolute;
    top: 250px;
    left: 390px;
}
