<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="ClientesEditDlg" widgetVar="ClientesEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditClientesTitle}" closeOnEscape="true">

            <h:form id="ClientesEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{clientesController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditClientesLabel_rfc}" for="rfc" />
                        <h:outputText id="rfc" value="#{clientesController.selected.rfc}" />

                        <p:outputLabel value="#{myBundle.EditClientesLabel_nombre}" for="nombre" />
                        <p:inputTextarea rows="4" cols="30" id="nombre" value="#{clientesController.selected.nombre}" title="#{myBundle.EditClientesTitle_nombre}" required="true" requiredMessage="#{myBundle.EditClientesRequiredMessage_nombre}"/>

                        <p:outputLabel value="#{myBundle.EditClientesLabel_apellidos}" for="apellidos" />
                        <p:inputTextarea rows="4" cols="30" id="apellidos" value="#{clientesController.selected.apellidos}" title="#{myBundle.EditClientesTitle_apellidos}" required="true" requiredMessage="#{myBundle.EditClientesRequiredMessage_apellidos}"/>

                        <p:outputLabel value="#{myBundle.EditClientesLabel_telcontacto}" for="telcontacto" />
                        <p:inputTextarea rows="4" cols="30" id="telcontacto" value="#{clientesController.selected.telcontacto}" title="#{myBundle.EditClientesTitle_telcontacto}" required="true" requiredMessage="#{myBundle.EditClientesRequiredMessage_telcontacto}"/>

                        <p:outputLabel value="#{myBundle.EditClientesLabel_telentrega}" for="telentrega" />
                        <p:inputTextarea rows="4" cols="30" id="telentrega" value="#{clientesController.selected.telentrega}" title="#{myBundle.EditClientesTitle_telentrega}" required="true" requiredMessage="#{myBundle.EditClientesRequiredMessage_telentrega}"/>

                        <p:outputLabel value="#{myBundle.EditClientesLabel_direccion}" for="direccion" />
                        <p:selectOneMenu id="direccion" value="#{clientesController.selected.direccion}" required="true" requiredMessage="#{myBundle.EditClientesRequiredMessage_direccion}" converter="direccionConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{direccionController.items}"
                                           var="direccionItem"
                                           itemValue="#{direccionItem}"
                                           itemLabel="#{direccionItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{clientesController.save}" value="#{myBundle.Save}" update="display,:ClientesListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('ClientesEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('ClientesEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
