<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="ClientesListForm">

        <p:panel header="#{myBundle.ListClientesTitle}">
            <p:contextMenu id="ClientesDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('ClientesListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('ClientesListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('ClientesListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('ClientesListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.ClientesMenuItem_ventaCollection}" icon="ui-icon-search"  action="#{clientesController.navigateVentaCollection}" disabled="#{empty clientesController.selected.ventaCollection}" ajax="false"/>  
                <p:menuitem value="#{myBundle.ClientesMenuItem_direccion}" icon="ui-icon-search"  actionListener="#{clientesController.prepareDireccion}" update=":DireccionViewForm" oncomplete="PF('DireccionViewDialog').show()" disabled="#{empty clientesController.selected.direccion}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{clientesController.items}"
                         var="item"
                         rowKey="#{item.rfc}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{clientesController.selected}">

                <p:ajax event="rowSelect"   update=":ClientesListForm:createButton :ClientesListForm:viewButton :ClientesListForm:editButton :ClientesListForm:deleteButton :ClientesListForm:ClientesDataTableContextMenu" listener="#{clientesController.resetParents}"/>
                <p:ajax event="rowUnselect" update=":ClientesListForm:createButton :ClientesListForm:viewButton :ClientesListForm:editButton :ClientesListForm:deleteButton :ClientesListForm:ClientesDataTableContextMenu" listener="#{clientesController.resetParents}"/>
                <p:ajax event="contextMenu" update=":ClientesListForm:createButton :ClientesListForm:viewButton :ClientesListForm:editButton :ClientesListForm:deleteButton" listener="#{clientesController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('ClientesListForm:viewButton').click();"/>

                <p:column sortBy="#{item.rfc}" filterBy="#{item.rfc}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListClientesTitle_rfc}"/>
                    </f:facet>
                    <h:outputText value="#{item.rfc}"/>
                </p:column>


                <p:column sortBy="#{item.nombre}" filterBy="#{item.nombre}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListClientesTitle_nombre}"/>
                    </f:facet>
                    <h:outputText value="#{item.nombre}"/>
                </p:column>


                <p:column sortBy="#{item.apellidos}" filterBy="#{item.apellidos}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListClientesTitle_apellidos}"/>
                    </f:facet>
                    <h:outputText value="#{item.apellidos}"/>
                </p:column>


                <p:column sortBy="#{item.telcontacto}" filterBy="#{item.telcontacto}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListClientesTitle_telcontacto}"/>
                    </f:facet>
                    <h:outputText value="#{item.telcontacto}"/>
                </p:column>


                <p:column sortBy="#{item.telentrega}" filterBy="#{item.telentrega}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListClientesTitle_telentrega}"/>
                    </f:facet>
                    <h:outputText value="#{item.telentrega}"/>
                </p:column>


                <p:column sortBy="#{item.direccion.id}" filterBy="#{item.direccion.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListClientesTitle_direccion}"/>
                    </f:facet>
                    <h:outputText value="#{item.direccion.id}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{clientesController.prepareCreate}" update=":ClientesCreateForm" oncomplete="PF('ClientesCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":ClientesViewForm" oncomplete="PF('ClientesViewDialog').show()" disabled="#{empty clientesController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":ClientesEditForm" oncomplete="PF('ClientesEditDialog').show()" disabled="#{empty clientesController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{clientesController.delete}" update=":growl,datalist" disabled="#{empty clientesController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>