<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<xhtml xmlns="http://www.w3.org/1999/xhtml"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:h="http://java.sun.com/jsf/html"
       xmlns:f="http://java.sun.com/jsf/core"
       xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="style.css"/>
    </h:head>
    <h:body  styleClass="fondo" >        

        <p:growl id="msgs" showDetail="true" />








        <p:panel id="basic" header="Ventas" footer="Ventas" style="margin-bottom:20px;height: 550px" >
             <h:form id="form2">                            
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <h:commandButton style="color: steelblue "   value="Salir" action="indexPrincipal.xhtml"/>                    
                        </h:form>
            <h:panelGrid columns="2" cellpadding="10" >
                <p:layout style="min-width:1250px;min-height:400px;">
                    <p:layoutUnit position="west"  size="850" minSize="40" maxSize="750">                        
                        <br/><br/>
                        <p:dataTable id="panelCarrito" value="#{carritoItem.lista}" var="item" >
                            <p:column headerText="Descripcion">
                                <h:outputText value="#{item.masquinaria.nombre}" />
                            </p:column>                                                                              
                            <p:column headerText="Precio">
                                <h:outputText value="#{item.masquinaria.precio}" />
                            </p:column>
                            <p:column headerText="Subtotal">
                                <h:outputText value="#{item.masquinaria.precio}" />
                            </p:column>
                            <p:column headerText="Cantidad">
                                <h:outputText value="1" />
                            </p:column>                         

                            <p:column headerText="Quitar">
                                   <h:form>                            
                                    <h:commandLink  action="#{carritoItem.baja(item)}" value="Quitar"/>                                                                                                                         
                                    </h:form>
                            </p:column>
                            
                        </p:dataTable>
                        
                        
                        

                    </p:layoutUnit>

                    <p:layoutUnit position="center">                        
                        <h:form id="cliente">
                            <p:outputLabel value="RFC"></p:outputLabel>&nbsp;
                            <p:inputText id="numero" value="#{clientesController.rfc}" requiredMessage="Ingresar RFC" required="true" validatorMessage="Error de RFC">                            
                            <f:validateLength maximum="13" minimum="12"></f:validateLength>
                            </p:inputText>                            
                            &nbsp;&nbsp;&nbsp;
                            <h:commandButton  value="Buscar"  type="submit" action="#{clientesController.buscaCliente()}"/>
                            <br/>
                            <br/>
                            
                            <p:outputLabel value="Cliente"></p:outputLabel>&nbsp;<br/>
                            <p:outputLabel value="Nombre: #{clientesController.a.nombre}"></p:outputLabel><br/>
                            <p:outputLabel value="RFC: #{clientesController.a.rfc}"></p:outputLabel><br/>
                            <h:panelGroup id="display" rendered="#{clientesController.a != null}">
                                <h:commandButton  value="Registrar Venta"  action="#{ventaController.regitraVenta(clientesController.a,loginBean.sucursal,carritoItem.lista)}" />
                            </h:panelGroup>
                            <h:panelGroup id="display2" rendered="#{clientesController.a == null}">
                            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <h:commandButton  value="Registrar cliente"  action="crearCliente.xhtml" />
                            </h:panelGroup>
                            <br/>
                            <h:form id="form3">                            
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <h:commandButton style="color: steelblue "   value="Nueva venta" action="ventas.xhtml"/>                    
                            </h:form>
                        </h:form>
                        
                    </p:layoutUnit>
                </p:layout>
            </h:panelGrid>
        </p:panel>

    </h:body>
</xhtml>

