<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<xhtml xmlns="http://www.w3.org/1999/xhtml"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:h="http://java.sun.com/jsf/html"
       xmlns:f="http://java.sun.com/jsf/core"
       xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="style.css"/>
    </h:head>
    <h:body  styleClass="fondo" >        

        <p:growl id="msgs" showDetail="true" />








        <p:panel id="basic" header="Ventas" footer="Ventas" style="margin-bottom:20px;height: 550px" >
             <h:form id="form2">                            
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <h:commandButton style="color: steelblue "   value="Salir" action="indexPrincipal.xhtml"/>                    
                        </h:form>
            <h:panelGrid columns="2" cellpadding="10" >
                <p:layout style="min-width:1250px;min-height:450px;">
                    <p:layoutUnit position="west" resizable="true" size="700" minSize="40" maxSize="450">
                        
                        <p:dataTable id="panelCarrito" value="#{carritoItem.lista}" var="item">
                            <p:column headerText="Descripcion">
                                <h:outputText value="#{item.masquinaria.nombre}" />
                            </p:column>                                                                              
                            <p:column headerText="Precio">
                                <h:outputText value="#{item.masquinaria.precio}" />
                            </p:column>
                            <p:column headerText="Subtotal">
                                <h:outputText value="#{item.masquinaria.precio}" />
                            </p:column>
                            <p:column headerText="Cantidad">
                                <h:outputText value="1" />
                            </p:column>                         

                            <p:column headerText="Quitar">
                                   <h:form>                            
                                    <h:commandLink  action="#{carritoItem.baja(item)}" value="Quitar"/>                                                                                                                         
                                    </h:form>
                            </p:column>
                            
                        </p:dataTable>
                        
                        
                        

                    </p:layoutUnit>

                    <p:layoutUnit position="center">                        
                       
                        <p:outputLabel value="AAS"></p:outputLabel>
                          <h:form id="ClientesCreateForm2">                
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateClientesLabel_rfc}" for="rfc" />
                        <p:inputText id="rfc" value="#{clientesController.a.rfc}" title="#{myBundle.CreateClientesTitle_rfc}" required="true" requiredMessage="#{myBundle.CreateClientesRequiredMessage_rfc}" size="13" maxlength="13"/>

                        <p:outputLabel value="#{myBundle.CreateClientesLabel_nombre}" for="nombre" />
                        <p:inputTextarea rows="4" cols="30" id="nombre" value="#{clientesController.a.nombre}" title="#{myBundle.CreateClientesTitle_nombre}" required="true" requiredMessage="#{myBundle.CreateClientesRequiredMessage_nombre}"/>

                        <p:outputLabel value="#{myBundle.CreateClientesLabel_apellidos}" for="apellidos" />
                        <p:inputTextarea rows="4" cols="30" id="apellidos" value="#{clientesController.a.apellidos}" title="#{myBundle.CreateClientesTitle_apellidos}" required="true" requiredMessage="#{myBundle.CreateClientesRequiredMessage_apellidos}"/>

                        <p:outputLabel value="#{myBundle.CreateClientesLabel_telcontacto}" for="telcontacto" />
                        <p:inputTextarea rows="4" cols="30" id="telcontacto" value="#{clientesController.a.telcontacto}" title="#{myBundle.CreateClientesTitle_telcontacto}" required="true" requiredMessage="#{myBundle.CreateClientesRequiredMessage_telcontacto}"/>

                        <p:outputLabel value="#{myBundle.CreateClientesLabel_telentrega}" for="telentrega" />
                        <p:inputTextarea rows="4" cols="30" id="telentrega" value="#{clientesController.a.telentrega}" title="#{myBundle.CreateClientesTitle_telentrega}" required="true" requiredMessage="#{myBundle.CreateClientesRequiredMessage_telentrega}"/>

                        <p:outputLabel value="#{myBundle.CreateClientesLabel_direccion}" for="direccion" />
                        <p:selectOneMenu id="direccion" value="#{clientesController.a.direccion}" required="true" requiredMessage="#{myBundle.CreateClientesRequiredMessage_direccion}" converter="direccionConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{direccionController.items}"
                                           var="direccionItem"
                                           itemValue="#{direccionItem}"
                                           itemLabel="#{direccionItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                              <h:commandButton type="submit" action="#{clientesController.guardar()}" value="Registrar" >                        
                            </h:commandButton>
                    

            </h:form>
                        
                        
                    </p:layoutUnit>
                </p:layout>
            </h:panelGrid>
        </p:panel>

    </h:body>
</xhtml>

