<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        

            <h:form id="ClientesCreateForm">

                <h:panelGroup id="display" rendered="#{clientesController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateClientesLabel_rfc}" for="rfc" />
                        <p:inputText id="rfc" value="#{clientesController.selected.rfc}" title="#{myBundle.CreateClientesTitle_rfc}" required="true" requiredMessage="#{myBundle.CreateClientesRequiredMessage_rfc}" size="13" maxlength="13"/>

                        <p:outputLabel value="#{myBundle.CreateClientesLabel_nombre}" for="nombre" />
                        <p:inputTextarea rows="4" cols="30" id="nombre" value="#{clientesController.selected.nombre}" title="#{myBundle.CreateClientesTitle_nombre}" required="true" requiredMessage="#{myBundle.CreateClientesRequiredMessage_nombre}"/>

                        <p:outputLabel value="#{myBundle.CreateClientesLabel_apellidos}" for="apellidos" />
                        <p:inputTextarea rows="4" cols="30" id="apellidos" value="#{clientesController.selected.apellidos}" title="#{myBundle.CreateClientesTitle_apellidos}" required="true" requiredMessage="#{myBundle.CreateClientesRequiredMessage_apellidos}"/>

                        <p:outputLabel value="#{myBundle.CreateClientesLabel_telcontacto}" for="telcontacto" />
                        <p:inputTextarea rows="4" cols="30" id="telcontacto" value="#{clientesController.selected.telcontacto}" title="#{myBundle.CreateClientesTitle_telcontacto}" required="true" requiredMessage="#{myBundle.CreateClientesRequiredMessage_telcontacto}"/>

                        <p:outputLabel value="#{myBundle.CreateClientesLabel_telentrega}" for="telentrega" />
                        <p:inputTextarea rows="4" cols="30" id="telentrega" value="#{clientesController.selected.telentrega}" title="#{myBundle.CreateClientesTitle_telentrega}" required="true" requiredMessage="#{myBundle.CreateClientesRequiredMessage_telentrega}"/>

                        <p:outputLabel value="#{myBundle.CreateClientesLabel_direccion}" for="direccion" />
                        <p:selectOneMenu id="direccion" value="#{clientesController.selected.direccion}" required="true" requiredMessage="#{myBundle.CreateClientesRequiredMessage_direccion}" converter="direccionConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{direccionController.items}"
                                           var="direccionItem"
                                           itemValue="#{direccionItem}"
                                           itemLabel="#{direccionItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{clientesController.saveNew}" value="#{myBundle.Save}" update="display,:ClientesListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('ClientesCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('ClientesCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>


    </ui:composition>

</html>
