<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<xhtml xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="style.css"/>
    </h:head>
    <h:body  styleClass="fondo" >        

        <h:form id="BodegaCreateForm"  styleClass="forma">
            <p:growl id="growl" showDetail="true" sticky="true" />

            <h:panelGroup id="display" style="text-align: center">
                <p:panelGrid columns="2" >              

                    <p:outputLabel value="Usuario" for="usuario" />
                    <p:inputText id="usuario" value="#{loginBean.usuario}" title="usuario" required="true" requiredMessage="Ingrese usuario">
                    <f:validator validatorId="validacionController" />
                    <f:attribute name="usuario" value="#{validacionController}" />
                    </p:inputText>

                    <p:outputLabel value="Password" for="password" />
                    <p:password id="password" value="#{loginBean.password}" title="password" required="true" requiredMessage="Ingresa contraseña">                    
                    </p:password>
                    
                </p:panelGrid>
                <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;               
                <h:commandButton  value="Ingresar"  type="submit" action="#{loginBean.saveMessage()}">                                        
                </h:commandButton>
                
            </h:panelGroup>

        </h:form>

    </h:body>
</xhtml>

