<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<xhtml xmlns="http://www.w3.org/1999/xhtml"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:h="http://java.sun.com/jsf/html"
       xmlns:f="http://java.sun.com/jsf/core"
       xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="style.css"/>
    </h:head>
    <h:body  styleClass="fondo" >        

        <p:growl id="msgs" showDetail="true" />








        <p:panel id="basic" header="Ventas" footer="Ventas" style="margin-bottom:20px;height: 550px" >
            <h:form id="form2">                            
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <h:commandButton style="color: steelblue "   value="Salir" action="indexPrincipal.xhtml"/>                    
                        </h:form>
            <h:panelGrid columns="2" cellpadding="10" >
                <p:layout style="min-width:1250px;min-height:450px;">
                    <p:layoutUnit position="west" resizable="true" size="700" minSize="40" maxSize="450">
                        
                        <p:dataTable id="panelCarrito" value="#{carritoItem.lista}" var="item">
                            <p:column headerText="Descripcion">
                                <h:outputText value="#{item.masquinaria.nombre}" />
                            </p:column>                                                                              
                            <p:column headerText="Precio">
                                <h:outputText value="#{item.masquinaria.precio}" />
                            </p:column>
                            <p:column headerText="Subtotal">
                                <h:outputText value="#{item.masquinaria.precio}" />
                            </p:column>
                            <p:column headerText="Cantidad">
                                <h:outputText value="1" />
                            </p:column>                         

                            <p:column headerText="Quitar">
                                   <h:form>                            
                                    <h:commandLink  action="#{carritoItem.baja(item)}" value="Quitar"/>                                                                                                                         
                                    </h:form>
                            </p:column>
                            
                        </p:dataTable>
                        
                        
                        

                    </p:layoutUnit>

                    <p:layoutUnit position="center">
                        <p:outputLabel id="total" value="Total de venta: #{carritoItem.total}"></p:outputLabel>
                        <h:form style="width:400px">
                            <p:growl id="message" showDetail="true" showSummary="true"></p:growl>
                            <p:selectOneListbox id="advanced" value="#{carritoItem.maquina}" var="maquinaria" converter="maquinariaConverter" filter="true" filterMatchMode="contains" style="width: 200px">
                                <f:selectItems value="#{maquinariaController.maquinaria}" var="maquinaria"  itemValue="#{maquinaria}"></f:selectItems>
                                <p:column>
                                    <h:outputText value="#{maquinaria.nombre}" />
                                </p:column>
                                <p:column>
                                    <h:graphicImage name="/img/#{maquinaria.descripcion}" width="80" height="80"></h:graphicImage>
                                </p:column>                                
                            </p:selectOneListbox>                            
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <p:commandButton value="Agregar" action="#{carritoItem.alta()}"  update=":panelCarrito :total"></p:commandButton>
                        </h:form>
                        <h:form id="form1">                            
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <h:commandButton style="color: steelblue "   value="Venta" action="buscaCliente.xhtml"/>                    
                        </h:form>                                                
                        
                        

                    </p:layoutUnit>
                </p:layout>
            </h:panelGrid>
        </p:panel>

    </h:body>
</xhtml>

