<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VentaCreateDlg" widgetVar="VentaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateVentaTitle}" closeOnEscape="true">

            <h:form id="VentaCreateForm">

                <h:panelGroup id="display" rendered="#{ventaController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateVentaLabel_fechaventa}" for="fechaventa" />
                        <p:calendar id="fechaventa" pattern="MM/dd/yyyy" value="#{ventaController.selected.fechaventa}" title="#{myBundle.CreateVentaTitle_fechaventa}" required="true" requiredMessage="#{myBundle.CreateVentaRequiredMessage_fechaventa}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateVentaLabel_fechaestimada}" for="fechaestimada" />
                        <p:calendar id="fechaestimada" pattern="MM/dd/yyyy" value="#{ventaController.selected.fechaestimada}" title="#{myBundle.CreateVentaTitle_fechaestimada}" required="true" requiredMessage="#{myBundle.CreateVentaRequiredMessage_fechaestimada}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateVentaLabel_sucursal}" for="sucursal" />
                        <p:selectOneMenu id="sucursal" value="#{ventaController.selected.sucursal}" required="true" requiredMessage="#{myBundle.CreateVentaRequiredMessage_sucursal}" converter="sucursalConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{sucursalController.items}"
                                           var="sucursalItem"
                                           itemValue="#{sucursalItem}"
                                           itemLabel="#{sucursalItem.id.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateVentaLabel_clientes}" for="clientes" />
                        <p:selectOneMenu id="clientes" value="#{ventaController.selected.clientes}" required="true" requiredMessage="#{myBundle.CreateVentaRequiredMessage_clientes}" converter="clientesConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{clientesController.items}"
                                           var="clientesItem"
                                           itemValue="#{clientesItem}"
                                           itemLabel="#{clientesItem.rfc.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{ventaController.saveNew}" value="#{myBundle.Save}" update="display,:VentaListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('VentaCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('VentaCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
