<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="VentaEditDlg" widgetVar="VentaEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditVentaTitle}" closeOnEscape="true">

            <h:form id="VentaEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{ventaController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditVentaLabel_id}" for="id" />
                        <h:outputText id="id" value="#{ventaController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditVentaLabel_fechaventa}" for="fechaventa" />
                        <p:calendar id="fechaventa" pattern="MM/dd/yyyy" value="#{ventaController.selected.fechaventa}" title="#{myBundle.EditVentaTitle_fechaventa}" required="true" requiredMessage="#{myBundle.EditVentaRequiredMessage_fechaventa}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditVentaLabel_fechaestimada}" for="fechaestimada" />
                        <p:calendar id="fechaestimada" pattern="MM/dd/yyyy" value="#{ventaController.selected.fechaestimada}" title="#{myBundle.EditVentaTitle_fechaestimada}" required="true" requiredMessage="#{myBundle.EditVentaRequiredMessage_fechaestimada}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditVentaLabel_sucursal}" for="sucursal" />
                        <p:selectOneMenu id="sucursal" value="#{ventaController.selected.sucursal}" required="true" requiredMessage="#{myBundle.EditVentaRequiredMessage_sucursal}" converter="sucursalConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{sucursalController.items}"
                                           var="sucursalItem"
                                           itemValue="#{sucursalItem}"
                                           itemLabel="#{sucursalItem.id.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditVentaLabel_clientes}" for="clientes" />
                        <p:selectOneMenu id="clientes" value="#{ventaController.selected.clientes}" required="true" requiredMessage="#{myBundle.EditVentaRequiredMessage_clientes}" converter="clientesConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{clientesController.items}"
                                           var="clientesItem"
                                           itemValue="#{clientesItem}"
                                           itemLabel="#{clientesItem.rfc.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{ventaController.save}" value="#{myBundle.Save}" update="display,:VentaListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('VentaEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('VentaEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
