<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="VentaListForm">

        <p:panel header="#{myBundle.ListVentaTitle}">
            <p:contextMenu id="VentaDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('VentaListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('VentaListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('VentaListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('VentaListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.VentaMenuItem_lineaventaCollection}" icon="ui-icon-search"  action="#{ventaController.navigateLineaventaCollection}" disabled="#{empty ventaController.selected.lineaventaCollection}" ajax="false"/>  
                <p:menuitem value="#{myBundle.VentaMenuItem_sucursal}" icon="ui-icon-search"  actionListener="#{ventaController.prepareSucursal}" update=":SucursalViewForm" oncomplete="PF('SucursalViewDialog').show()" disabled="#{empty ventaController.selected.sucursal}"/>  
                <p:menuitem value="#{myBundle.VentaMenuItem_clientes}" icon="ui-icon-search"  actionListener="#{ventaController.prepareClientes}" update=":ClientesViewForm" oncomplete="PF('ClientesViewDialog').show()" disabled="#{empty ventaController.selected.clientes}"/>  
                <p:menuitem value="#{myBundle.VentaMenuItem_entregasCollection}" icon="ui-icon-search"  action="#{ventaController.navigateEntregasCollection}" disabled="#{empty ventaController.selected.entregasCollection}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{ventaController.items}"
                         var="item"
                         rowKey="#{item.id}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{ventaController.selected}">

                <p:ajax event="rowSelect"   update=":VentaListForm:createButton :VentaListForm:viewButton :VentaListForm:editButton :VentaListForm:deleteButton :VentaListForm:VentaDataTableContextMenu" listener="#{ventaController.resetParents}"/>
                <p:ajax event="rowUnselect" update=":VentaListForm:createButton :VentaListForm:viewButton :VentaListForm:editButton :VentaListForm:deleteButton :VentaListForm:VentaDataTableContextMenu" listener="#{ventaController.resetParents}"/>
                <p:ajax event="contextMenu" update=":VentaListForm:createButton :VentaListForm:viewButton :VentaListForm:editButton :VentaListForm:deleteButton" listener="#{ventaController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('VentaListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListVentaTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.fechaventa}" filterBy="#{item.fechaventa}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListVentaTitle_fechaventa}"/>
                    </f:facet>
                    <h:outputText value="#{item.fechaventa}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.fechaestimada}" filterBy="#{item.fechaestimada}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListVentaTitle_fechaestimada}"/>
                    </f:facet>
                    <h:outputText value="#{item.fechaestimada}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.sucursal.id}" filterBy="#{item.sucursal.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListVentaTitle_sucursal}"/>
                    </f:facet>
                    <h:outputText value="#{item.sucursal.id}"/>
                </p:column>


                <p:column sortBy="#{item.clientes.rfc}" filterBy="#{item.clientes.rfc}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListVentaTitle_clientes}"/>
                    </f:facet>
                    <h:outputText value="#{item.clientes.rfc}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{ventaController.prepareCreate}" update=":VentaCreateForm" oncomplete="PF('VentaCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":VentaViewForm" oncomplete="PF('VentaViewDialog').show()" disabled="#{empty ventaController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":VentaEditForm" oncomplete="PF('VentaEditDialog').show()" disabled="#{empty ventaController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{ventaController.delete}" update=":growl,datalist" disabled="#{empty ventaController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>