<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VentaViewDlg" widgetVar="VentaViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewVentaTitle}" closeOnEscape="true">

            <h:form id="VentaViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{ventaController.selected != null}">

                        <h:outputText value="#{myBundle.ViewVentaLabel_id}"/>
                        <h:outputText value="#{ventaController.selected.id}" title="#{myBundle.ViewVentaTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewVentaLabel_fechaventa}"/>
                        <h:outputText value="#{ventaController.selected.fechaventa}" title="#{myBundle.ViewVentaTitle_fechaventa}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewVentaLabel_fechaestimada}"/>
                        <h:outputText value="#{ventaController.selected.fechaestimada}" title="#{myBundle.ViewVentaTitle_fechaestimada}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewVentaLabel_sucursal}"/>
                        <h:outputText value="#{ventaController.selected.sucursal.id}"/>

                        <h:outputText value="#{myBundle.ViewVentaLabel_clientes}"/>
                        <h:outputText value="#{ventaController.selected.clientes.rfc}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('VentaViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
