<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DireccionCreateDlg" widgetVar="DireccionCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateDireccionTitle}" closeOnEscape="true">

            <h:form id="DireccionCreateForm">

                <h:panelGroup id="display" rendered="#{direccionController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateDireccionLabel_calle}" for="calle" />
                        <p:inputTextarea rows="4" cols="30" id="calle" value="#{direccionController.selected.calle}" title="#{myBundle.CreateDireccionTitle_calle}" required="true" requiredMessage="#{myBundle.CreateDireccionRequiredMessage_calle}"/>

                        <p:outputLabel value="#{myBundle.CreateDireccionLabel_numero}" for="numero" />
                        <p:inputTextarea rows="4" cols="30" id="numero" value="#{direccionController.selected.numero}" title="#{myBundle.CreateDireccionTitle_numero}" required="true" requiredMessage="#{myBundle.CreateDireccionRequiredMessage_numero}"/>

                        <p:outputLabel value="#{myBundle.CreateDireccionLabel_calle1}" for="calle1" />
                        <p:inputTextarea rows="4" cols="30" id="calle1" value="#{direccionController.selected.calle1}" title="#{myBundle.CreateDireccionTitle_calle1}" required="true" requiredMessage="#{myBundle.CreateDireccionRequiredMessage_calle1}"/>

                        <p:outputLabel value="#{myBundle.CreateDireccionLabel_cale2}" for="cale2" />
                        <p:inputTextarea rows="4" cols="30" id="cale2" value="#{direccionController.selected.cale2}" title="#{myBundle.CreateDireccionTitle_cale2}" required="true" requiredMessage="#{myBundle.CreateDireccionRequiredMessage_cale2}"/>

                        <p:outputLabel value="#{myBundle.CreateDireccionLabel_colonia}" for="colonia" />
                        <p:selectOneMenu id="colonia" value="#{direccionController.selected.colonia}" required="true" requiredMessage="#{myBundle.CreateDireccionRequiredMessage_colonia}" converter="coloniaConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{coloniaController.items}"
                                           var="coloniaItem"
                                           itemValue="#{coloniaItem}"
                                           itemLabel="#{coloniaItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{direccionController.saveNew}" value="#{myBundle.Save}" update="display,:DireccionListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('DireccionCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('DireccionCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
