<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="DireccionEditDlg" widgetVar="DireccionEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditDireccionTitle}" closeOnEscape="true">

            <h:form id="DireccionEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{direccionController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditDireccionLabel_id}" for="id" />
                        <h:outputText id="id" value="#{direccionController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditDireccionLabel_calle}" for="calle" />
                        <p:inputTextarea rows="4" cols="30" id="calle" value="#{direccionController.selected.calle}" title="#{myBundle.EditDireccionTitle_calle}" required="true" requiredMessage="#{myBundle.EditDireccionRequiredMessage_calle}"/>

                        <p:outputLabel value="#{myBundle.EditDireccionLabel_numero}" for="numero" />
                        <p:inputTextarea rows="4" cols="30" id="numero" value="#{direccionController.selected.numero}" title="#{myBundle.EditDireccionTitle_numero}" required="true" requiredMessage="#{myBundle.EditDireccionRequiredMessage_numero}"/>

                        <p:outputLabel value="#{myBundle.EditDireccionLabel_calle1}" for="calle1" />
                        <p:inputTextarea rows="4" cols="30" id="calle1" value="#{direccionController.selected.calle1}" title="#{myBundle.EditDireccionTitle_calle1}" required="true" requiredMessage="#{myBundle.EditDireccionRequiredMessage_calle1}"/>

                        <p:outputLabel value="#{myBundle.EditDireccionLabel_cale2}" for="cale2" />
                        <p:inputTextarea rows="4" cols="30" id="cale2" value="#{direccionController.selected.cale2}" title="#{myBundle.EditDireccionTitle_cale2}" required="true" requiredMessage="#{myBundle.EditDireccionRequiredMessage_cale2}"/>

                        <p:outputLabel value="#{myBundle.EditDireccionLabel_colonia}" for="colonia" />
                        <p:selectOneMenu id="colonia" value="#{direccionController.selected.colonia}" required="true" requiredMessage="#{myBundle.EditDireccionRequiredMessage_colonia}" converter="coloniaConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{coloniaController.items}"
                                           var="coloniaItem"
                                           itemValue="#{coloniaItem}"
                                           itemLabel="#{coloniaItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{direccionController.save}" value="#{myBundle.Save}" update="display,:DireccionListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('DireccionEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('DireccionEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
