<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="DireccionListForm">

        <p:panel header="#{myBundle.ListDireccionTitle}">
            <p:contextMenu id="DireccionDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('DireccionListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('DireccionListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('DireccionListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('DireccionListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.DireccionMenuItem_colonia}" icon="ui-icon-search"  actionListener="#{direccionController.prepareColonia}" update=":ColoniaViewForm" oncomplete="PF('ColoniaViewDialog').show()" disabled="#{empty direccionController.selected.colonia}"/>  
                <p:menuitem value="#{myBundle.DireccionMenuItem_clientesCollection}" icon="ui-icon-search"  action="#{direccionController.navigateClientesCollection}" disabled="#{empty direccionController.selected.clientesCollection}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{direccionController.items}"
                         var="item"
                         rowKey="#{item.id}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{direccionController.selected}">

                <p:ajax event="rowSelect"   update=":DireccionListForm:createButton :DireccionListForm:viewButton :DireccionListForm:editButton :DireccionListForm:deleteButton :DireccionListForm:DireccionDataTableContextMenu" listener="#{direccionController.resetParents}"/>
                <p:ajax event="rowUnselect" update=":DireccionListForm:createButton :DireccionListForm:viewButton :DireccionListForm:editButton :DireccionListForm:deleteButton :DireccionListForm:DireccionDataTableContextMenu" listener="#{direccionController.resetParents}"/>
                <p:ajax event="contextMenu" update=":DireccionListForm:createButton :DireccionListForm:viewButton :DireccionListForm:editButton :DireccionListForm:deleteButton" listener="#{direccionController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('DireccionListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListDireccionTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.calle}" filterBy="#{item.calle}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListDireccionTitle_calle}"/>
                    </f:facet>
                    <h:outputText value="#{item.calle}"/>
                </p:column>


                <p:column sortBy="#{item.numero}" filterBy="#{item.numero}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListDireccionTitle_numero}"/>
                    </f:facet>
                    <h:outputText value="#{item.numero}"/>
                </p:column>


                <p:column sortBy="#{item.calle1}" filterBy="#{item.calle1}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListDireccionTitle_calle1}"/>
                    </f:facet>
                    <h:outputText value="#{item.calle1}"/>
                </p:column>


                <p:column sortBy="#{item.cale2}" filterBy="#{item.cale2}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListDireccionTitle_cale2}"/>
                    </f:facet>
                    <h:outputText value="#{item.cale2}"/>
                </p:column>


                <p:column sortBy="#{item.colonia.id}" filterBy="#{item.colonia.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListDireccionTitle_colonia}"/>
                    </f:facet>
                    <h:outputText value="#{item.colonia.id}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{direccionController.prepareCreate}" update=":DireccionCreateForm" oncomplete="PF('DireccionCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":DireccionViewForm" oncomplete="PF('DireccionViewDialog').show()" disabled="#{empty direccionController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":DireccionEditForm" oncomplete="PF('DireccionEditDialog').show()" disabled="#{empty direccionController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{direccionController.delete}" update=":growl,datalist" disabled="#{empty direccionController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>