<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DireccionViewDlg" widgetVar="DireccionViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewDireccionTitle}" closeOnEscape="true">

            <h:form id="DireccionViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{direccionController.selected != null}">

                        <h:outputText value="#{myBundle.ViewDireccionLabel_id}"/>
                        <h:outputText value="#{direccionController.selected.id}" title="#{myBundle.ViewDireccionTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewDireccionLabel_calle}"/>
                        <h:outputText value="#{direccionController.selected.calle}" title="#{myBundle.ViewDireccionTitle_calle}"/>

                        <h:outputText value="#{myBundle.ViewDireccionLabel_numero}"/>
                        <h:outputText value="#{direccionController.selected.numero}" title="#{myBundle.ViewDireccionTitle_numero}"/>

                        <h:outputText value="#{myBundle.ViewDireccionLabel_calle1}"/>
                        <h:outputText value="#{direccionController.selected.calle1}" title="#{myBundle.ViewDireccionTitle_calle1}"/>

                        <h:outputText value="#{myBundle.ViewDireccionLabel_cale2}"/>
                        <h:outputText value="#{direccionController.selected.cale2}" title="#{myBundle.ViewDireccionTitle_cale2}"/>

                        <h:outputText value="#{myBundle.ViewDireccionLabel_colonia}"/>
                        <h:outputText value="#{direccionController.selected.colonia.id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('DireccionViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
