<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CamionCreateDlg" widgetVar="CamionCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateCamionTitle}" closeOnEscape="true">

            <h:form id="CamionCreateForm">

                <h:panelGroup id="display" rendered="#{camionController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateCamionLabel_capacidad}" for="capacidad" />
                        <p:inputText id="capacidad" value="#{camionController.selected.capacidad}" title="#{myBundle.CreateCamionTitle_capacidad}" required="true" requiredMessage="#{myBundle.CreateCamionRequiredMessage_capacidad}"/>

                        <p:outputLabel value="#{myBundle.CreateCamionLabel_bodega}" for="bodega" />
                        <p:selectOneMenu id="bodega" value="#{camionController.selected.bodega}" required="true" requiredMessage="#{myBundle.CreateCamionRequiredMessage_bodega}" converter="bodegaConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{bodegaController.items}"
                                           var="bodegaItem"
                                           itemValue="#{bodegaItem}"
                                           itemLabel="#{bodegaItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{camionController.saveNew}" value="#{myBundle.Save}" update="display,:CamionListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('CamionCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('CamionCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
