<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="CamionEditDlg" widgetVar="CamionEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditCamionTitle}" closeOnEscape="true">

            <h:form id="CamionEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{camionController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditCamionLabel_id}" for="id" />
                        <h:outputText id="id" value="#{camionController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditCamionLabel_capacidad}" for="capacidad" />
                        <p:inputText id="capacidad" value="#{camionController.selected.capacidad}" title="#{myBundle.EditCamionTitle_capacidad}" required="true" requiredMessage="#{myBundle.EditCamionRequiredMessage_capacidad}"/>

                        <p:outputLabel value="#{myBundle.EditCamionLabel_bodega}" for="bodega" />
                        <p:selectOneMenu id="bodega" value="#{camionController.selected.bodega}" required="true" requiredMessage="#{myBundle.EditCamionRequiredMessage_bodega}" converter="bodegaConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{bodegaController.items}"
                                           var="bodegaItem"
                                           itemValue="#{bodegaItem}"
                                           itemLabel="#{bodegaItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{camionController.save}" value="#{myBundle.Save}" update="display,:CamionListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('CamionEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('CamionEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
