<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="CamionListForm">

        <p:panel header="#{myBundle.ListCamionTitle}">
            <p:contextMenu id="CamionDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('CamionListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('CamionListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('CamionListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('CamionListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.CamionMenuItem_entregasCollection}" icon="ui-icon-search"  action="#{camionController.navigateEntregasCollection}" disabled="#{empty camionController.selected.entregasCollection}" ajax="false"/>  
                <p:menuitem value="#{myBundle.CamionMenuItem_bodega}" icon="ui-icon-search"  actionListener="#{camionController.prepareBodega}" update=":BodegaViewForm" oncomplete="PF('BodegaViewDialog').show()" disabled="#{empty camionController.selected.bodega}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{camionController.items}"
                         var="item"
                         rowKey="#{item.id}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{camionController.selected}">

                <p:ajax event="rowSelect"   update=":CamionListForm:createButton :CamionListForm:viewButton :CamionListForm:editButton :CamionListForm:deleteButton :CamionListForm:CamionDataTableContextMenu" listener="#{camionController.resetParents}"/>
                <p:ajax event="rowUnselect" update=":CamionListForm:createButton :CamionListForm:viewButton :CamionListForm:editButton :CamionListForm:deleteButton :CamionListForm:CamionDataTableContextMenu" listener="#{camionController.resetParents}"/>
                <p:ajax event="contextMenu" update=":CamionListForm:createButton :CamionListForm:viewButton :CamionListForm:editButton :CamionListForm:deleteButton" listener="#{camionController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('CamionListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListCamionTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.capacidad}" filterBy="#{item.capacidad}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListCamionTitle_capacidad}"/>
                    </f:facet>
                    <h:outputText value="#{item.capacidad}"/>
                </p:column>


                <p:column sortBy="#{item.bodega.id}" filterBy="#{item.bodega.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListCamionTitle_bodega}"/>
                    </f:facet>
                    <h:outputText value="#{item.bodega.id}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{camionController.prepareCreate}" update=":CamionCreateForm" oncomplete="PF('CamionCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":CamionViewForm" oncomplete="PF('CamionViewDialog').show()" disabled="#{empty camionController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":CamionEditForm" oncomplete="PF('CamionEditDialog').show()" disabled="#{empty camionController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{camionController.delete}" update=":growl,datalist" disabled="#{empty camionController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>