<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CamionViewDlg" widgetVar="CamionViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewCamionTitle}" closeOnEscape="true">

            <h:form id="CamionViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{camionController.selected != null}">

                        <h:outputText value="#{myBundle.ViewCamionLabel_id}"/>
                        <h:outputText value="#{camionController.selected.id}" title="#{myBundle.ViewCamionTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewCamionLabel_capacidad}"/>
                        <h:outputText value="#{camionController.selected.capacidad}" title="#{myBundle.ViewCamionTitle_capacidad}"/>

                        <h:outputText value="#{myBundle.ViewCamionLabel_bodega}"/>
                        <h:outputText value="#{camionController.selected.bodega.id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('CamionViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
