<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SucursalViewDlg" widgetVar="SucursalViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewSucursalTitle}" closeOnEscape="true">

            <h:form id="SucursalViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{sucursalController.selected != null}">

                        <h:outputText value="#{myBundle.ViewSucursalLabel_id}"/>
                        <h:outputText value="#{sucursalController.selected.id}" title="#{myBundle.ViewSucursalTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewSucursalLabel_nombre}"/>
                        <h:outputText value="#{sucursalController.selected.nombre}" title="#{myBundle.ViewSucursalTitle_nombre}"/>

                        <h:outputText value="#{myBundle.ViewSucursalLabel_bodega}"/>
                        <h:outputText value="#{sucursalController.selected.bodega.id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('SucursalViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
