<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MunicipioViewDlg" widgetVar="MunicipioViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewMunicipioTitle}" closeOnEscape="true">

            <h:form id="MunicipioViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{municipioController.selected != null}">

                        <h:outputText value="#{myBundle.ViewMunicipioLabel_id}"/>
                        <h:outputText value="#{municipioController.selected.id}" title="#{myBundle.ViewMunicipioTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewMunicipioLabel_nombre}"/>
                        <h:outputText value="#{municipioController.selected.nombre}" title="#{myBundle.ViewMunicipioTitle_nombre}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('MunicipioViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
