<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EntregasCreateDlg" widgetVar="EntregasCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateEntregasTitle}" closeOnEscape="true">

            <h:form id="EntregasCreateForm">

                <h:panelGroup id="display" rendered="#{entregasController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateEntregasLabel_entregasPK_id}" for="entregasPK_id" />
                        <p:inputText id="entregasPK_id" value="#{entregasController.selected.entregasPK.id}" title="#{myBundle.CreateEntregasTitle_entregasPK_id}" required="true" requiredMessage="#{myBundle.CreateEntregasRequiredMessage_entregasPK_id}"/>

                        <p:outputLabel value="#{myBundle.CreateEntregasLabel_fechareal}" for="fechareal" />
                        <p:calendar id="fechareal" pattern="MM/dd/yyyy" value="#{entregasController.selected.fechareal}" title="#{myBundle.CreateEntregasTitle_fechareal}" required="true" requiredMessage="#{myBundle.CreateEntregasRequiredMessage_fechareal}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateEntregasLabel_venta1}" for="venta1" />
                        <p:selectOneMenu id="venta1" value="#{entregasController.selected.venta1}" required="true" requiredMessage="#{myBundle.CreateEntregasRequiredMessage_venta1}" converter="ventaConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{ventaController.items}"
                                           var="venta1Item"
                                           itemValue="#{venta1Item}"
                                           itemLabel="#{venta1Item.id.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateEntregasLabel_camion}" for="camion" />
                        <p:selectOneMenu id="camion" value="#{entregasController.selected.camion}" required="true" requiredMessage="#{myBundle.CreateEntregasRequiredMessage_camion}" converter="camionConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{camionController.items}"
                                           var="camionItem"
                                           itemValue="#{camionItem}"
                                           itemLabel="#{camionItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{entregasController.saveNew}" value="#{myBundle.Save}" update="display,:EntregasListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('EntregasCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('EntregasCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
