<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="EntregasEditDlg" widgetVar="EntregasEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditEntregasTitle}" closeOnEscape="true">

            <h:form id="EntregasEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{entregasController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditEntregasLabel_entregasPK_id}" for="entregasPK_id" />
                        <h:outputText id="entregasPK_id" value="#{entregasController.selected.entregasPK.id}" />

                        <p:outputLabel value="#{myBundle.EditEntregasLabel_fechareal}" for="fechareal" />
                        <p:calendar id="fechareal" pattern="MM/dd/yyyy" value="#{entregasController.selected.fechareal}" title="#{myBundle.EditEntregasTitle_fechareal}" required="true" requiredMessage="#{myBundle.EditEntregasRequiredMessage_fechareal}" showOn="button"/>


                        <h:outputLabel value="#{myBundle.EditEntregasLabel_venta1}" for="venta1" />
                        <h:outputText id="venta1" value="#{entregasController.selected.venta1}" />

                        <p:outputLabel value="#{myBundle.EditEntregasLabel_camion}" for="camion" />
                        <p:selectOneMenu id="camion" value="#{entregasController.selected.camion}" required="true" requiredMessage="#{myBundle.EditEntregasRequiredMessage_camion}" converter="camionConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{camionController.items}"
                                           var="camionItem"
                                           itemValue="#{camionItem}"
                                           itemLabel="#{camionItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{entregasController.save}" value="#{myBundle.Save}" update="display,:EntregasListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('EntregasEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('EntregasEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
