<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="EntregasListForm">

        <p:panel header="#{myBundle.ListEntregasTitle}">
            <p:contextMenu id="EntregasDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('EntregasListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('EntregasListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('EntregasListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('EntregasListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.EntregasMenuItem_venta1}" icon="ui-icon-search"  actionListener="#{entregasController.prepareVenta1}" update=":VentaViewForm" oncomplete="PF('VentaViewDialog').show()" disabled="#{empty entregasController.selected.venta1}"/>  
                <p:menuitem value="#{myBundle.EntregasMenuItem_camion}" icon="ui-icon-search"  actionListener="#{entregasController.prepareCamion}" update=":CamionViewForm" oncomplete="PF('CamionViewDialog').show()" disabled="#{empty entregasController.selected.camion}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{entregasController.items}"
                         var="item"
                         rowKey="#{item.entregasPK}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{entregasController.selected}">

                <p:ajax event="rowSelect"   update=":EntregasListForm:createButton :EntregasListForm:viewButton :EntregasListForm:editButton :EntregasListForm:deleteButton :EntregasListForm:EntregasDataTableContextMenu" listener="#{entregasController.resetParents}"/>
                <p:ajax event="rowUnselect" update=":EntregasListForm:createButton :EntregasListForm:viewButton :EntregasListForm:editButton :EntregasListForm:deleteButton :EntregasListForm:EntregasDataTableContextMenu" listener="#{entregasController.resetParents}"/>
                <p:ajax event="contextMenu" update=":EntregasListForm:createButton :EntregasListForm:viewButton :EntregasListForm:editButton :EntregasListForm:deleteButton" listener="#{entregasController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('EntregasListForm:viewButton').click();"/>

                <p:column sortBy="#{item.entregasPK.id}" filterBy="#{item.entregasPK.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEntregasTitle_entregasPK_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.entregasPK.id}"/>
                </p:column>


                <p:column sortBy="#{item.fechareal}" filterBy="#{item.fechareal}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEntregasTitle_fechareal}"/>
                    </f:facet>
                    <h:outputText value="#{item.fechareal}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.venta1.id}" filterBy="#{item.venta1.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEntregasTitle_venta1}"/>
                    </f:facet>
                    <h:outputText value="#{item.venta1.id}"/>
                </p:column>


                <p:column sortBy="#{item.camion.id}" filterBy="#{item.camion.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEntregasTitle_camion}"/>
                    </f:facet>
                    <h:outputText value="#{item.camion.id}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{entregasController.prepareCreate}" update=":EntregasCreateForm" oncomplete="PF('EntregasCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":EntregasViewForm" oncomplete="PF('EntregasViewDialog').show()" disabled="#{empty entregasController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":EntregasEditForm" oncomplete="PF('EntregasEditDialog').show()" disabled="#{empty entregasController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{entregasController.delete}" update=":growl,datalist" disabled="#{empty entregasController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>