<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EntregasViewDlg" widgetVar="EntregasViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewEntregasTitle}" closeOnEscape="true">

            <h:form id="EntregasViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{entregasController.selected != null}">

                        <h:outputText value="#{myBundle.ViewEntregasLabel_entregasPK_id}"/>
                        <h:outputText value="#{entregasController.selected.entregasPK.id}" title="#{myBundle.ViewEntregasTitle_entregasPK_id}"/>

                        <h:outputText value="#{myBundle.ViewEntregasLabel_fechareal}"/>
                        <h:outputText value="#{entregasController.selected.fechareal}" title="#{myBundle.ViewEntregasTitle_fechareal}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewEntregasLabel_venta1}"/>
                        <h:outputText value="#{entregasController.selected.venta1.id}"/>

                        <h:outputText value="#{myBundle.ViewEntregasLabel_camion}"/>
                        <h:outputText value="#{entregasController.selected.camion.id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('EntregasViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
