<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuarioCreateDlg" widgetVar="UsuarioCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateUsuarioTitle}" closeOnEscape="true">

            <h:form id="UsuarioCreateForm">

                <h:panelGroup id="display" rendered="#{usuarioController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateUsuarioLabel_login}" for="login" />
                        <p:inputTextarea rows="4" cols="30" id="login" value="#{usuarioController.selected.login}" title="#{myBundle.CreateUsuarioTitle_login}" required="true" requiredMessage="#{myBundle.CreateUsuarioRequiredMessage_login}"/>

                        <p:outputLabel value="#{myBundle.CreateUsuarioLabel_pwd}" for="pwd" />
                        <p:inputTextarea rows="4" cols="30" id="pwd" value="#{usuarioController.selected.pwd}" title="#{myBundle.CreateUsuarioTitle_pwd}" required="true" requiredMessage="#{myBundle.CreateUsuarioRequiredMessage_pwd}"/>

                        <p:outputLabel value="#{myBundle.CreateUsuarioLabel_nombre}" for="nombre" />
                        <p:inputTextarea rows="4" cols="30" id="nombre" value="#{usuarioController.selected.nombre}" title="#{myBundle.CreateUsuarioTitle_nombre}" required="true" requiredMessage="#{myBundle.CreateUsuarioRequiredMessage_nombre}"/>

                        <p:outputLabel value="#{myBundle.CreateUsuarioLabel_privilegio}" for="privilegio" />
                        <p:inputTextarea rows="4" cols="30" id="privilegio" value="#{usuarioController.selected.privilegio}" title="#{myBundle.CreateUsuarioTitle_privilegio}" required="true" requiredMessage="#{myBundle.CreateUsuarioRequiredMessage_privilegio}"/>

                        <p:outputLabel value="#{myBundle.CreateUsuarioLabel_bodega}" for="bodega" />
                        <p:selectOneMenu id="bodega" value="#{usuarioController.selected.bodega}" required="true" requiredMessage="#{myBundle.CreateUsuarioRequiredMessage_bodega}" converter="bodegaConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{bodegaController.items}"
                                           var="bodegaItem"
                                           itemValue="#{bodegaItem}"
                                           itemLabel="#{bodegaItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usuarioController.saveNew}" value="#{myBundle.Save}" update="display,:UsuarioListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('UsuarioCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('UsuarioCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
