<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="UsuarioEditDlg" widgetVar="UsuarioEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditUsuarioTitle}" closeOnEscape="true">

            <h:form id="UsuarioEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{usuarioController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditUsuarioLabel_id}" for="id" />
                        <h:outputText id="id" value="#{usuarioController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditUsuarioLabel_login}" for="login" />
                        <p:inputTextarea rows="4" cols="30" id="login" value="#{usuarioController.selected.login}" title="#{myBundle.EditUsuarioTitle_login}" required="true" requiredMessage="#{myBundle.EditUsuarioRequiredMessage_login}"/>

                        <p:outputLabel value="#{myBundle.EditUsuarioLabel_pwd}" for="pwd" />
                        <p:inputTextarea rows="4" cols="30" id="pwd" value="#{usuarioController.selected.pwd}" title="#{myBundle.EditUsuarioTitle_pwd}" required="true" requiredMessage="#{myBundle.EditUsuarioRequiredMessage_pwd}"/>

                        <p:outputLabel value="#{myBundle.EditUsuarioLabel_nombre}" for="nombre" />
                        <p:inputTextarea rows="4" cols="30" id="nombre" value="#{usuarioController.selected.nombre}" title="#{myBundle.EditUsuarioTitle_nombre}" required="true" requiredMessage="#{myBundle.EditUsuarioRequiredMessage_nombre}"/>

                        <p:outputLabel value="#{myBundle.EditUsuarioLabel_privilegio}" for="privilegio" />
                        <p:inputTextarea rows="4" cols="30" id="privilegio" value="#{usuarioController.selected.privilegio}" title="#{myBundle.EditUsuarioTitle_privilegio}" required="true" requiredMessage="#{myBundle.EditUsuarioRequiredMessage_privilegio}"/>

                        <p:outputLabel value="#{myBundle.EditUsuarioLabel_bodega}" for="bodega" />
                        <p:selectOneMenu id="bodega" value="#{usuarioController.selected.bodega}" required="true" requiredMessage="#{myBundle.EditUsuarioRequiredMessage_bodega}" converter="bodegaConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{bodegaController.items}"
                                           var="bodegaItem"
                                           itemValue="#{bodegaItem}"
                                           itemLabel="#{bodegaItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usuarioController.save}" value="#{myBundle.Save}" update="display,:UsuarioListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('UsuarioEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('UsuarioEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
