<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuarioViewDlg" widgetVar="UsuarioViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewUsuarioTitle}" closeOnEscape="true">

            <h:form id="UsuarioViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{usuarioController.selected != null}">

                        <h:outputText value="#{myBundle.ViewUsuarioLabel_id}"/>
                        <h:outputText value="#{usuarioController.selected.id}" title="#{myBundle.ViewUsuarioTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewUsuarioLabel_login}"/>
                        <h:outputText value="#{usuarioController.selected.login}" title="#{myBundle.ViewUsuarioTitle_login}"/>

                        <h:outputText value="#{myBundle.ViewUsuarioLabel_pwd}"/>
                        <h:outputText value="#{usuarioController.selected.pwd}" title="#{myBundle.ViewUsuarioTitle_pwd}"/>

                        <h:outputText value="#{myBundle.ViewUsuarioLabel_nombre}"/>
                        <h:outputText value="#{usuarioController.selected.nombre}" title="#{myBundle.ViewUsuarioTitle_nombre}"/>

                        <h:outputText value="#{myBundle.ViewUsuarioLabel_privilegio}"/>
                        <h:outputText value="#{usuarioController.selected.privilegio}" title="#{myBundle.ViewUsuarioTitle_privilegio}"/>

                        <h:outputText value="#{myBundle.ViewUsuarioLabel_bodega}"/>
                        <h:outputText value="#{usuarioController.selected.bodega.id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('UsuarioViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
