<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LineaventaCreateDlg" widgetVar="LineaventaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateLineaventaTitle}" closeOnEscape="true">

            <h:form id="LineaventaCreateForm">

                <h:panelGroup id="display" rendered="#{lineaventaController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateLineaventaLabel_cantidad}" for="cantidad" />
                        <p:inputText id="cantidad" value="#{lineaventaController.selected.cantidad}" title="#{myBundle.CreateLineaventaTitle_cantidad}" required="true" requiredMessage="#{myBundle.CreateLineaventaRequiredMessage_cantidad}"/>

                        <p:outputLabel value="#{myBundle.CreateLineaventaLabel_venta}" for="venta" />
                        <p:selectOneMenu id="venta" value="#{lineaventaController.selected.venta}" required="true" requiredMessage="#{myBundle.CreateLineaventaRequiredMessage_venta}" converter="ventaConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{ventaController.items}"
                                           var="ventaItem"
                                           itemValue="#{ventaItem}"
                                           itemLabel="#{ventaItem.id.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateLineaventaLabel_maquinaria}" for="maquinaria" />
                        <p:selectOneMenu id="maquinaria" value="#{lineaventaController.selected.maquinaria}" required="true" requiredMessage="#{myBundle.CreateLineaventaRequiredMessage_maquinaria}" converter="maquinariaConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{maquinariaController.items}"
                                           var="maquinariaItem"
                                           itemValue="#{maquinariaItem}"
                                           itemLabel="#{maquinariaItem.descripcion.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{lineaventaController.saveNew}" value="#{myBundle.Save}" update="display,:LineaventaListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('LineaventaCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('LineaventaCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
