<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="LineaventaEditDlg" widgetVar="LineaventaEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditLineaventaTitle}" closeOnEscape="true">

            <h:form id="LineaventaEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{lineaventaController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditLineaventaLabel_id}" for="id" />
                        <h:outputText id="id" value="#{lineaventaController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditLineaventaLabel_cantidad}" for="cantidad" />
                        <p:inputText id="cantidad" value="#{lineaventaController.selected.cantidad}" title="#{myBundle.EditLineaventaTitle_cantidad}" required="true" requiredMessage="#{myBundle.EditLineaventaRequiredMessage_cantidad}"/>

                        <p:outputLabel value="#{myBundle.EditLineaventaLabel_venta}" for="venta" />
                        <p:selectOneMenu id="venta" value="#{lineaventaController.selected.venta}" required="true" requiredMessage="#{myBundle.EditLineaventaRequiredMessage_venta}" converter="ventaConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{ventaController.items}"
                                           var="ventaItem"
                                           itemValue="#{ventaItem}"
                                           itemLabel="#{ventaItem.id.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditLineaventaLabel_maquinaria}" for="maquinaria" />
                        <p:selectOneMenu id="maquinaria" value="#{lineaventaController.selected.maquinaria}" required="true" requiredMessage="#{myBundle.EditLineaventaRequiredMessage_maquinaria}" converter="maquinariaConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{maquinariaController.items}"
                                           var="maquinariaItem"
                                           itemValue="#{maquinariaItem}"
                                           itemLabel="#{maquinariaItem.descripcion.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{lineaventaController.save}" value="#{myBundle.Save}" update="display,:LineaventaListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('LineaventaEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('LineaventaEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
