<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="LineaventaListForm">

        <p:panel header="#{myBundle.ListLineaventaTitle}">
            <p:contextMenu id="LineaventaDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('LineaventaListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('LineaventaListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('LineaventaListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('LineaventaListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.LineaventaMenuItem_venta}" icon="ui-icon-search"  actionListener="#{lineaventaController.prepareVenta}" update=":VentaViewForm" oncomplete="PF('VentaViewDialog').show()" disabled="#{empty lineaventaController.selected.venta}"/>  
                <p:menuitem value="#{myBundle.LineaventaMenuItem_maquinaria}" icon="ui-icon-search"  actionListener="#{lineaventaController.prepareMaquinaria}" update=":MaquinariaViewForm" oncomplete="PF('MaquinariaViewDialog').show()" disabled="#{empty lineaventaController.selected.maquinaria}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{lineaventaController.items}"
                         var="item"
                         rowKey="#{item.id}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{lineaventaController.selected}">

                <p:ajax event="rowSelect"   update=":LineaventaListForm:createButton :LineaventaListForm:viewButton :LineaventaListForm:editButton :LineaventaListForm:deleteButton :LineaventaListForm:LineaventaDataTableContextMenu" listener="#{lineaventaController.resetParents}"/>
                <p:ajax event="rowUnselect" update=":LineaventaListForm:createButton :LineaventaListForm:viewButton :LineaventaListForm:editButton :LineaventaListForm:deleteButton :LineaventaListForm:LineaventaDataTableContextMenu" listener="#{lineaventaController.resetParents}"/>
                <p:ajax event="contextMenu" update=":LineaventaListForm:createButton :LineaventaListForm:viewButton :LineaventaListForm:editButton :LineaventaListForm:deleteButton" listener="#{lineaventaController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('LineaventaListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListLineaventaTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.cantidad}" filterBy="#{item.cantidad}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListLineaventaTitle_cantidad}"/>
                    </f:facet>
                    <h:outputText value="#{item.cantidad}"/>
                </p:column>


                <p:column sortBy="#{item.venta.id}" filterBy="#{item.venta.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListLineaventaTitle_venta}"/>
                    </f:facet>
                    <h:outputText value="#{item.venta.id}"/>
                </p:column>


                <p:column sortBy="#{item.maquinaria.descripcion}" filterBy="#{item.maquinaria.descripcion}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListLineaventaTitle_maquinaria}"/>
                    </f:facet>
                    <h:outputText value="#{item.maquinaria.descripcion}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{lineaventaController.prepareCreate}" update=":LineaventaCreateForm" oncomplete="PF('LineaventaCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":LineaventaViewForm" oncomplete="PF('LineaventaViewDialog').show()" disabled="#{empty lineaventaController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":LineaventaEditForm" oncomplete="PF('LineaventaEditDialog').show()" disabled="#{empty lineaventaController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{lineaventaController.delete}" update=":growl,datalist" disabled="#{empty lineaventaController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>