<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LineaventaViewDlg" widgetVar="LineaventaViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewLineaventaTitle}" closeOnEscape="true">

            <h:form id="LineaventaViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{lineaventaController.selected != null}">

                        <h:outputText value="#{myBundle.ViewLineaventaLabel_id}"/>
                        <h:outputText value="#{lineaventaController.selected.id}" title="#{myBundle.ViewLineaventaTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewLineaventaLabel_cantidad}"/>
                        <h:outputText value="#{lineaventaController.selected.cantidad}" title="#{myBundle.ViewLineaventaTitle_cantidad}"/>

                        <h:outputText value="#{myBundle.ViewLineaventaLabel_venta}"/>
                        <h:outputText value="#{lineaventaController.selected.venta.id}"/>

                        <h:outputText value="#{myBundle.ViewLineaventaLabel_maquinaria}"/>
                        <h:outputText value="#{lineaventaController.selected.maquinaria.descripcion}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('LineaventaViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
