<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BodegaCreateDlg" widgetVar="BodegaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateBodegaTitle}" closeOnEscape="true">

            <h:form id="BodegaCreateForm">

                <h:panelGroup id="display" rendered="#{bodegaController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateBodegaLabel_nombre}" for="nombre" />
                        <p:inputTextarea rows="4" cols="30" id="nombre" value="#{bodegaController.selected.nombre}" title="#{myBundle.CreateBodegaTitle_nombre}" required="true" requiredMessage="#{myBundle.CreateBodegaRequiredMessage_nombre}"/>

                        <p:outputLabel value="#{myBundle.CreateBodegaLabel_zona}" for="zona" />
                        <p:inputTextarea rows="4" cols="30" id="zona" value="#{bodegaController.selected.zona}" title="#{myBundle.CreateBodegaTitle_zona}" required="true" requiredMessage="#{myBundle.CreateBodegaRequiredMessage_zona}"/>

                        <p:outputLabel value="#{myBundle.CreateBodegaLabel_latitud}" for="latitud" />
                        <p:inputText id="latitud" value="#{bodegaController.selected.latitud}" title="#{myBundle.CreateBodegaTitle_latitud}" required="true" requiredMessage="#{myBundle.CreateBodegaRequiredMessage_latitud}"/>

                        <p:outputLabel value="#{myBundle.CreateBodegaLabel_longitud}" for="longitud" />
                        <p:inputText id="longitud" value="#{bodegaController.selected.longitud}" title="#{myBundle.CreateBodegaTitle_longitud}" required="true" requiredMessage="#{myBundle.CreateBodegaRequiredMessage_longitud}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{bodegaController.saveNew}" value="#{myBundle.Save}" update="display,:BodegaListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('BodegaCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('BodegaCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
