<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="BodegaEditDlg" widgetVar="BodegaEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditBodegaTitle}" closeOnEscape="true">

            <h:form id="BodegaEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{bodegaController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditBodegaLabel_id}" for="id" />
                        <h:outputText id="id" value="#{bodegaController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditBodegaLabel_nombre}" for="nombre" />
                        <p:inputTextarea rows="4" cols="30" id="nombre" value="#{bodegaController.selected.nombre}" title="#{myBundle.EditBodegaTitle_nombre}" required="true" requiredMessage="#{myBundle.EditBodegaRequiredMessage_nombre}"/>

                        <p:outputLabel value="#{myBundle.EditBodegaLabel_zona}" for="zona" />
                        <p:inputTextarea rows="4" cols="30" id="zona" value="#{bodegaController.selected.zona}" title="#{myBundle.EditBodegaTitle_zona}" required="true" requiredMessage="#{myBundle.EditBodegaRequiredMessage_zona}"/>

                        <p:outputLabel value="#{myBundle.EditBodegaLabel_latitud}" for="latitud" />
                        <p:inputText id="latitud" value="#{bodegaController.selected.latitud}" title="#{myBundle.EditBodegaTitle_latitud}" required="true" requiredMessage="#{myBundle.EditBodegaRequiredMessage_latitud}"/>

                        <p:outputLabel value="#{myBundle.EditBodegaLabel_longitud}" for="longitud" />
                        <p:inputText id="longitud" value="#{bodegaController.selected.longitud}" title="#{myBundle.EditBodegaTitle_longitud}" required="true" requiredMessage="#{myBundle.EditBodegaRequiredMessage_longitud}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{bodegaController.save}" value="#{myBundle.Save}" update="display,:BodegaListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('BodegaEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('BodegaEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
