<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="BodegaListForm">

        <p:panel header="#{myBundle.ListBodegaTitle}">
            <p:contextMenu id="BodegaDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('BodegaListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('BodegaListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('BodegaListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('BodegaListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.BodegaMenuItem_sucursalCollection}" icon="ui-icon-search"  action="#{bodegaController.navigateSucursalCollection}" disabled="#{empty bodegaController.selected.sucursalCollection}" ajax="false"/>  
                <p:menuitem value="#{myBundle.BodegaMenuItem_usuarioCollection}" icon="ui-icon-search"  action="#{bodegaController.navigateUsuarioCollection}" disabled="#{empty bodegaController.selected.usuarioCollection}" ajax="false"/>  
                <p:menuitem value="#{myBundle.BodegaMenuItem_camionCollection}" icon="ui-icon-search"  action="#{bodegaController.navigateCamionCollection}" disabled="#{empty bodegaController.selected.camionCollection}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{bodegaController.items}"
                         var="item"
                         rowKey="#{item.id}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{bodegaController.selected}">

                <p:ajax event="rowSelect"   update=":BodegaListForm:createButton :BodegaListForm:viewButton :BodegaListForm:editButton :BodegaListForm:deleteButton :BodegaListForm:BodegaDataTableContextMenu"/>
                <p:ajax event="rowUnselect" update=":BodegaListForm:createButton :BodegaListForm:viewButton :BodegaListForm:editButton :BodegaListForm:deleteButton :BodegaListForm:BodegaDataTableContextMenu"/>
                <p:ajax event="contextMenu" update=":BodegaListForm:createButton :BodegaListForm:viewButton :BodegaListForm:editButton :BodegaListForm:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('BodegaListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListBodegaTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.nombre}" filterBy="#{item.nombre}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListBodegaTitle_nombre}"/>
                    </f:facet>
                    <h:outputText value="#{item.nombre}"/>
                </p:column>


                <p:column sortBy="#{item.zona}" filterBy="#{item.zona}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListBodegaTitle_zona}"/>
                    </f:facet>
                    <h:outputText value="#{item.zona}"/>
                </p:column>


                <p:column sortBy="#{item.latitud}" filterBy="#{item.latitud}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListBodegaTitle_latitud}"/>
                    </f:facet>
                    <h:outputText value="#{item.latitud}"/>
                </p:column>


                <p:column sortBy="#{item.longitud}" filterBy="#{item.longitud}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListBodegaTitle_longitud}"/>
                    </f:facet>
                    <h:outputText value="#{item.longitud}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{bodegaController.prepareCreate}" update=":BodegaCreateForm" oncomplete="PF('BodegaCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":BodegaViewForm" oncomplete="PF('BodegaViewDialog').show()" disabled="#{empty bodegaController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":BodegaEditForm" oncomplete="PF('BodegaEditDialog').show()" disabled="#{empty bodegaController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{bodegaController.delete}" update=":growl,datalist" disabled="#{empty bodegaController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>