<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BodegaViewDlg" widgetVar="BodegaViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewBodegaTitle}" closeOnEscape="true">

            <h:form id="BodegaViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{bodegaController.selected != null}">

                        <h:outputText value="#{myBundle.ViewBodegaLabel_id}"/>
                        <h:outputText value="#{bodegaController.selected.id}" title="#{myBundle.ViewBodegaTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewBodegaLabel_nombre}"/>
                        <h:outputText value="#{bodegaController.selected.nombre}" title="#{myBundle.ViewBodegaTitle_nombre}"/>

                        <h:outputText value="#{myBundle.ViewBodegaLabel_zona}"/>
                        <h:outputText value="#{bodegaController.selected.zona}" title="#{myBundle.ViewBodegaTitle_zona}"/>

                        <h:outputText value="#{myBundle.ViewBodegaLabel_latitud}"/>
                        <h:outputText value="#{bodegaController.selected.latitud}" title="#{myBundle.ViewBodegaTitle_latitud}"/>

                        <h:outputText value="#{myBundle.ViewBodegaLabel_longitud}"/>
                        <h:outputText value="#{bodegaController.selected.longitud}" title="#{myBundle.ViewBodegaTitle_longitud}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('BodegaViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
