<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MaquinariaCreateDlg" widgetVar="MaquinariaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateMaquinariaTitle}" closeOnEscape="true">

            <h:form id="MaquinariaCreateForm">

                <h:panelGroup id="display" rendered="#{maquinariaController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateMaquinariaLabel_descripcion}" for="descripcion" />
                        <p:inputTextarea rows="4" cols="30" id="descripcion" value="#{maquinariaController.selected.descripcion}" title="#{myBundle.CreateMaquinariaTitle_descripcion}" required="true" requiredMessage="#{myBundle.CreateMaquinariaRequiredMessage_descripcion}"/>

                        <p:outputLabel value="#{myBundle.CreateMaquinariaLabel_precio}" for="precio" />
                        <p:inputText id="precio" value="#{maquinariaController.selected.precio}" title="#{myBundle.CreateMaquinariaTitle_precio}" required="true" requiredMessage="#{myBundle.CreateMaquinariaRequiredMessage_precio}"/>

                        <p:outputLabel value="#{myBundle.CreateMaquinariaLabel_peso}" for="peso" />
                        <p:inputText id="peso" value="#{maquinariaController.selected.peso}" title="#{myBundle.CreateMaquinariaTitle_peso}" required="true" requiredMessage="#{myBundle.CreateMaquinariaRequiredMessage_peso}"/>

                        <p:outputLabel value="#{myBundle.CreateMaquinariaLabel_nombre}" for="nombre" />
                        <p:inputTextarea rows="4" cols="30" id="nombre" value="#{maquinariaController.selected.nombre}" title="#{myBundle.CreateMaquinariaTitle_nombre}" required="true" requiredMessage="#{myBundle.CreateMaquinariaRequiredMessage_nombre}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{maquinariaController.saveNew}" value="#{myBundle.Save}" update="display,:MaquinariaListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('MaquinariaCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('MaquinariaCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
