<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="MaquinariaEditDlg" widgetVar="MaquinariaEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditMaquinariaTitle}" closeOnEscape="true">

            <h:form id="MaquinariaEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{maquinariaController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditMaquinariaLabel_codigo}" for="codigo" />
                        <h:outputText id="codigo" value="#{maquinariaController.selected.codigo}" />

                        <p:outputLabel value="#{myBundle.EditMaquinariaLabel_descripcion}" for="descripcion" />
                        <p:inputTextarea rows="4" cols="30" id="descripcion" value="#{maquinariaController.selected.descripcion}" title="#{myBundle.EditMaquinariaTitle_descripcion}" required="true" requiredMessage="#{myBundle.EditMaquinariaRequiredMessage_descripcion}"/>

                        <p:outputLabel value="#{myBundle.EditMaquinariaLabel_precio}" for="precio" />
                        <p:inputText id="precio" value="#{maquinariaController.selected.precio}" title="#{myBundle.EditMaquinariaTitle_precio}" required="true" requiredMessage="#{myBundle.EditMaquinariaRequiredMessage_precio}"/>

                        <p:outputLabel value="#{myBundle.EditMaquinariaLabel_peso}" for="peso" />
                        <p:inputText id="peso" value="#{maquinariaController.selected.peso}" title="#{myBundle.EditMaquinariaTitle_peso}" required="true" requiredMessage="#{myBundle.EditMaquinariaRequiredMessage_peso}"/>

                        <p:outputLabel value="#{myBundle.EditMaquinariaLabel_nombre}" for="nombre" />
                        <p:inputTextarea rows="4" cols="30" id="nombre" value="#{maquinariaController.selected.nombre}" title="#{myBundle.EditMaquinariaTitle_nombre}" required="true" requiredMessage="#{myBundle.EditMaquinariaRequiredMessage_nombre}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{maquinariaController.save}" value="#{myBundle.Save}" update="display,:MaquinariaListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('MaquinariaEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('MaquinariaEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
