<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="MaquinariaListForm">

        <p:panel header="#{myBundle.ListMaquinariaTitle}">
            <p:contextMenu id="MaquinariaDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('MaquinariaListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('MaquinariaListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('MaquinariaListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('MaquinariaListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.MaquinariaMenuItem_lineaventaCollection}" icon="ui-icon-search"  action="#{maquinariaController.navigateLineaventaCollection}" disabled="#{empty maquinariaController.selected.lineaventaCollection}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{maquinariaController.items}"
                         var="item"
                         rowKey="#{item.codigo}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{maquinariaController.selected}">

                <p:ajax event="rowSelect"   update=":MaquinariaListForm:createButton :MaquinariaListForm:viewButton :MaquinariaListForm:editButton :MaquinariaListForm:deleteButton :MaquinariaListForm:MaquinariaDataTableContextMenu"/>
                <p:ajax event="rowUnselect" update=":MaquinariaListForm:createButton :MaquinariaListForm:viewButton :MaquinariaListForm:editButton :MaquinariaListForm:deleteButton :MaquinariaListForm:MaquinariaDataTableContextMenu"/>
                <p:ajax event="contextMenu" update=":MaquinariaListForm:createButton :MaquinariaListForm:viewButton :MaquinariaListForm:editButton :MaquinariaListForm:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('MaquinariaListForm:viewButton').click();"/>

                <p:column sortBy="#{item.codigo}" filterBy="#{item.codigo}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListMaquinariaTitle_codigo}"/>
                    </f:facet>
                    <h:outputText value="#{item.codigo}"/>
                </p:column>


                <p:column sortBy="#{item.descripcion}" filterBy="#{item.descripcion}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListMaquinariaTitle_descripcion}"/>
                    </f:facet>
                    <h:outputText value="#{item.descripcion}"/>
                </p:column>


                <p:column sortBy="#{item.precio}" filterBy="#{item.precio}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListMaquinariaTitle_precio}"/>
                    </f:facet>
                    <h:outputText value="#{item.precio}"/>
                </p:column>


                <p:column sortBy="#{item.peso}" filterBy="#{item.peso}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListMaquinariaTitle_peso}"/>
                    </f:facet>
                    <h:outputText value="#{item.peso}"/>
                </p:column>


                <p:column sortBy="#{item.nombre}" filterBy="#{item.nombre}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListMaquinariaTitle_nombre}"/>
                    </f:facet>
                    <h:outputText value="#{item.nombre}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{maquinariaController.prepareCreate}" update=":MaquinariaCreateForm" oncomplete="PF('MaquinariaCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":MaquinariaViewForm" oncomplete="PF('MaquinariaViewDialog').show()" disabled="#{empty maquinariaController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":MaquinariaEditForm" oncomplete="PF('MaquinariaEditDialog').show()" disabled="#{empty maquinariaController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{maquinariaController.delete}" update=":growl,datalist" disabled="#{empty maquinariaController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>