<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MaquinariaViewDlg" widgetVar="MaquinariaViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewMaquinariaTitle}" closeOnEscape="true">

            <h:form id="MaquinariaViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{maquinariaController.selected != null}">

                        <h:outputText value="#{myBundle.ViewMaquinariaLabel_codigo}"/>
                        <h:outputText value="#{maquinariaController.selected.codigo}" title="#{myBundle.ViewMaquinariaTitle_codigo}"/>

                        <h:outputText value="#{myBundle.ViewMaquinariaLabel_descripcion}"/>
                        <h:outputText value="#{maquinariaController.selected.descripcion}" title="#{myBundle.ViewMaquinariaTitle_descripcion}"/>

                        <h:outputText value="#{myBundle.ViewMaquinariaLabel_precio}"/>
                        <h:outputText value="#{maquinariaController.selected.precio}" title="#{myBundle.ViewMaquinariaTitle_precio}"/>

                        <h:outputText value="#{myBundle.ViewMaquinariaLabel_peso}"/>
                        <h:outputText value="#{maquinariaController.selected.peso}" title="#{myBundle.ViewMaquinariaTitle_peso}"/>

                        <h:outputText value="#{myBundle.ViewMaquinariaLabel_nombre}"/>
                        <h:outputText value="#{maquinariaController.selected.nombre}" title="#{myBundle.ViewMaquinariaTitle_nombre}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('MaquinariaViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
