<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <h:form id="menuForm">
            <p:menubar>
                <p:menuitem value="#{myBundle.Home}" outcome="/index" icon="ui-icon-home"/>
                <p:submenu label="#{myBundle.Maintenance}">
                    <p:menuitem value="#{myBundle.BodegaHeading}..." outcome="/entity/bodega/index" />
                    <p:menuitem value="#{myBundle.CamionHeading}..." outcome="/entity/camion/index" />
                    <p:menuitem value="#{myBundle.ClientesHeading}..." outcome="/entity/clientes/index" />
                    <p:menuitem value="#{myBundle.ColoniaHeading}..." outcome="/entity/colonia/index" />
                    <p:menuitem value="#{myBundle.DireccionHeading}..." outcome="/entity/direccion/index" />
                    <p:menuitem value="#{myBundle.EntregasHeading}..." outcome="/entity/entregas/index" />
                    <p:menuitem value="#{myBundle.EstadoHeading}..." outcome="/entity/estado/index" />
                    <p:menuitem value="#{myBundle.LineaventaHeading}..." outcome="/entity/lineaventa/index" />
                    <p:menuitem value="#{myBundle.MaquinariaHeading}..." outcome="/entity/maquinaria/index" />
                    <p:menuitem value="#{myBundle.MunicipioHeading}..." outcome="/entity/municipio/index" />
                    <p:menuitem value="#{myBundle.SucursalHeading}..." outcome="/entity/sucursal/index" />
                    <p:menuitem value="#{myBundle.UsuarioHeading}..." outcome="/entity/usuario/index" />
                    <p:menuitem value="#{myBundle.VentaHeading}..." outcome="/entity/venta/index" />
                </p:submenu>
            </p:menubar>
        </h:form>
    </ui:composition>

</html>