<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="EstadoEditDlg" widgetVar="EstadoEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditEstadoTitle}" closeOnEscape="true">

            <h:form id="EstadoEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{estadoController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditEstadoLabel_id}" for="id" />
                        <h:outputText id="id" value="#{estadoController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditEstadoLabel_nombre}" for="nombre" />
                        <p:inputTextarea rows="4" cols="30" id="nombre" value="#{estadoController.selected.nombre}" title="#{myBundle.EditEstadoTitle_nombre}" required="true" requiredMessage="#{myBundle.EditEstadoRequiredMessage_nombre}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{estadoController.save}" value="#{myBundle.Save}" update="display,:EstadoListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('EstadoEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('EstadoEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
